<div class="container">
    <div class="form-horizontal">
        <h2 class="text-center">{{vm.title}}</h4>
        <br/>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="team">Team</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="team" name="team" type="text" placeholder="team" ng-model="formData.team">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="team">Association</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="team" name="team" type="text" placeholder="team" ng-model="formData.association">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="team">Location</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="location" name="location" type="text" placeholder="Location" ng-model="formData.location">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="about">About You</label>
            <div class="col-sm-9">
                <textarea class="form-control input-md" id="about" name="about" placeholder="Tell us about yourself" ng-model="formData.about"></textarea>
            </div>
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="interests">Interests</label>
            <div class="col-sm-9">
                <textarea class="form-control input-md" id="interests" name="interests" placeholder="What interests you" ng-model="formData.interests"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="charities">charities</label>
            <div class="col-sm-9">
                <textarea class="form-control input-md" id="charities" name="charities" type="text" placeholder="charities" ng-model="formData.charities"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="pets">Pets</label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="petsRadio" ng-model="formData.pets" value='yes'>Yes</label>
                <label class="radio-inline"><input type="radio" name="petsRadio" ng-model="formData.pets" value='no'>No</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="drinksAlcohol">Drink Alcohol</label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="alcoholRadio" ng-model="formData.drinkAlcohol" value='yes'>Yes</label>
                <label class="radio-inline"><input type="radio" name="alcoholRadio" ng-model="formData.drinkAlcohol" value='no'>No</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="married">married</label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="marriedRadio" ng-model="formData.married" value='yes'>Yes</label>
                <label class="radio-inline"><input type="radio" name="marriedRadio" ng-model="formData.married" value='no'>No</label>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
            <a ui-sref="form.basicInfo" class="btn btn-outline-rounded btn-default"> <span class="glyphicon glyphicon-arrow-left"></span> Previous</a>
            <a ui-sref="form.socialMedia" class="btn btn-outline-rounded btn-info"> Next <span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>