<div class="container">
    <div class="form-horizontal">
        <h2 class="head text-center">{{vm.title}}</h4>
        <br/>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="name">Name</label>
            <div class="col-sm-9">
                <input class="form-control" id="name" name="name" type="text" placeholder="Name" ng-model="formData.name">
            </div>
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label " for="gender">Gender</label>
            <div class="col-sm-9">
                <label class="radio-inline"><input type="radio" name="genderRadio" ng-model="formData.gender" value='male'>Male</label>
                <label class="radio-inline"><input type="radio" name="genderRadio" ng-model="formData.gender" value='female'>Female</label>
                <label class="radio-inline"><input type="radio" name="genderRadio" ng-model="formData.gender" value='other'>Other</label>
            </div>
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="dob">Date of birth</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="dob" name="dob" type="date" placeholder="Date of Birth" ng-model="formData.dob">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="nationality">Nationality</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="nationality" name="nationality" type="text" placeholder="nationality" ng-model="formData.nationality">
            </div>  
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="sport">Sport</label>
            <div class="col-sm-9">
                <select name="sport" id="sport" class="form-control" ng-model='formData.sport'>
                    <option ng-repeat='x in sports' value="{{ x }}">{{ x }}</option>
                </select>
<!--                <input class="form-control input-md" id="sport" name="sport" type="dropdown" placeholder="sport" ng-model="formData.sport">-->
            </div>
        </div>
        <div class="form-group text-center">
            <a ui-sref="form.about" class="btn btn-outline-rounded btn-info"> Next <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>
</div>