<div class="container">
    <div class="form-horizontal">
        <h2 class="text-center">{{vm.title}}</h4>
        <br/>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="Facebook">Facebook</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="facebook" name="facebook" type="text" placeholder="facebook" ng-model="formData.socialMedia.Facebook">
            </div>   
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="Twitter">Twitter</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="Twitter" name="Twitter" type="text" placeholder="Twitter" ng-model="formData.socialMedia.Twitter">
            </div>
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="Instagram">Instagram</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="Instagram" name="Instagram" type="text" placeholder="Instagram" ng-model="formData.socialMedia.Instagram">
            </div>
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="Youtube">Youtube</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="Youtube" name="Youtube" type="text" placeholder="Youtube" ng-model="formData.socialMedia.Youtube">
            </div>  
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="Twitch">Twitch</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="Twitch" name="Twitch" type="text" placeholder="Twitch" ng-model="formData.socialMedia.Twitch">
            </div>
        </div>
        <div class='form-group'>
            <label class="col-sm-3 control-label" for="snapchat">Snapchat</label>
            <div class="col-sm-9">
                <input class="form-control input-md" id="snapchat" name="snapchat" type="text" placeholder="snapchat" ng-model="formData.socialMedia.Snapchat">
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <a ui-sref="form.about" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left"></span> Previous</a>
        <a ui-sref="form.summary" class="btn btn-info"> Next <span  class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>
